.timer {
  font-size: 30px;
}

.image {
  width: 500px;
}

.under-image-text {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.under-image-text span {
  font-size: 20px;
}

.start-btn {
  width: 100px;
  height: 40px;
  font-size: 20px !important;
}
